/* =====================색상========================= */
:root {
  --font: 'Do Hyeon', sans-serif;
  --main-container-background-color: #e5f8f7;

  --button-background-color: rgb(76, 227, 218);
  --button-text-color: #272929;

  --button-hover-background-color: #272929;
  --button-hover-text-color: rgb(76, 227, 219);
}
/* ==============메인 컨테이너(가장 바깥)============= */
.main-content-container {
  background: var(--main-container-background-color);
  padding-left: 100px;
  padding-right: 100px;
  overflow-x: hidden;
  text-align: center;
  height: fit-content;

}

#main-container {
  width: 100%;

  display: flex;
  flex-direction: column;

  /*align-items: center*/
  justify-content: space-between;
}

/*===============컴포너트============================*/
.board-detail-main-container {
  display: flex;
  flex-direction: column;
  padding: 23px 13px;
  height: 100vh;
  justify-content: space-between;

}

/*타이틀*/
.board-title-box,
.board-img-box,
.board-main-content-box,
.board-btn-box {
  width: 100%;
}

#title {
  font-family: var(--font);
}

/*이미지와 내용 */
/*이미지*/
#image{
	margin:10px;
}

.board-img-box{
	flex-direction:row;
	align-items: center;
}

/*내용*/
.board-content-box {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#content {
  width: 100%;
  height: 20vh;
  border-style: none;
  border-radius: 10px;
  padding-top: 20px;
  text-align:center;
}

#content:focus {
  outline: none;
}

/*버튼*/
.board-btn-box {
  padding: 12px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#goListBoard{
	flex-basis:100%;
}

#goListBoardAd {
  flex-basis: 33%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#editBoard {
  flex-basis: 34%;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border-color: transparent;
  border-radius: 0;
}

#editBoard:hover {
  background: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

#removeBoard {
  flex-basis: 33%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ==============media query(반응형)================= */

@media screen and (min-width: 800px) {
  /* 화면폭이 최소 800px 이상 */
  #title {
    font-size: 5vw;
  }
}

@media screen and (max-width: 800px) {
  /*화면폭이 800px 이하*/
  /*타이틀*/
  #title {
    font-size: 1.4em;
  }

  /*버튼*/
  .board-btn-box {
    flex-direction: column;
    width: 100%;
  }


  #goListBoardAd,
  #goListBoard,
  #editBoard,
  #removeBoard {
    width: 100%;
    border-radius: 10px;
    margin-top: 3px;
  }
  
  .board-img-box{
  	width:100%;
  }
  
  #image{
  	width: 45vw;
  }
}
