:root {
  --navigation-menu-font: 'Do Hyeon', sans-serif;
  --navigation-text-default-color: #272929;
  --navigation-text-hover-color: rgb(76, 227, 218);

  --main-container-background-color: #e5f8f7;
  --info-box-background-color: transparent;

  --up-btn-background-color: rgb(76, 227, 218);
  --up-btn-hover-background-color: #272929;
  --up-btn-hover-text-color: rgb(76, 227, 218);
}

/*body*/
body {
  overflow-x: hidden;
}

/*header - carousel*/
.carousel-item img {
  width: 100%;
  height: 75vh;
}

/* scroll-spy navigation*/
ul.scrollspy-navigation {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

ul.scrollspy-navigation li {
  list-style: none;
  font-family: var(--navigation-menu-font);
  color: var(--navigation-text-default-color);

  padding: 30px 50px;
  font-size: 1.8em;
}

ul.scrollspy-navigation a:hover,
ul.scrollspy-navigation li:hover {
  color: var(--navigation-text-hover-color);
}

ul.scrollspy-navigation li:hover {
  border-bottom: var(--navigation-text-hover-color) solid 3px;
}

/*메인화면*/
.main-content-container {
  background: var(--main-container-background-color);
  padding-left: 100px;
  padding-right: 100px;
}

.section {
  margin: 10px 20px;
  padding: 30px 50px;
  background: var(--info-box-background-color);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

/*section- Good Ball? 영역*/
.goodball-info-box {
  padding: 22px 32px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.info-title {
  font-size: 5.1em;
}

.info-title:nth-child(1) {
  font-family: var(--navigation-menu-font);
}

/*Good Ball?  => 디테일 설명*/
.info-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-wrapper-detail {
  margin: 24px;
  padding: 13px 20px;
  border-radius: 10px;
}

.info-wrapper-detail:nth-child(1) {
  background: palegoldenrod;
}

.info-wrapper-detail:nth-child(2) {
  background: powderblue;
}

.info-wrapper-detail:nth-child(3) {
  background: lightcoral;
}

.info-wrapper-detail:nth-child(4) {
  background: rgb(188, 252, 122);
}

/* .info-detail-content-box {
  padding: 30px 10px;
  height: 450px;
  width: 100%;
} */

.info-detail-content-box {
  height: 500x;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.info-detail-content-box > h1 {
  padding: 12px 5px;
  font-family: var(--navigation-menu-font);
}

.info-detail-img-box > .info-img {
  position: relative;
  box-sizing: border-box;
  width: 500px;
  height: 300px;
}



/*맨 위로 버튼*/
#on-top {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  width: 50px;
  height: 50px;

  font-size: 2em;
  background: var(--up-btn-background-color);
  text-align: center;
  border-radius: 100%;

  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

#on-top:hover {
  cursor: pointer;
  background: var(--up-btn-hover-background-color);
  color: var(--up-btn-hover-text-color);
}

#on-top.show {
  opacity: 1;
  visibility: visible;
}

/*
미디어쿼리를 이용하여, 화면이 작아지면
- main-navigation을 없앤다.
- flex-direction: column으로 설정
*/

@media screen and (max-width: 768 px) {
  /*화면의 폭길이가 768px 이하이면 */

  .info-wrapper-detail {
    text-align: center;
    width: 100%;
  }

  .info-detail-content-box {
    width: 100%;
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box; */
  }

  .info-wrapper-detail {
    border-radius: 0px;
  }
}

@media screen and (max-width: 600px) {
  /*Good Ball?*/
  .info-wrapper-detail {
    text-align: center;
    border-radius: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 867px) {
  /*화면의 폭길이가 867px이상이면 none->flex로 변경*/
  ul.scrollspy-navigation {
    display: flex;
  }
}
