#menu_option .icon-boxes{
    display: flex;
    flex-direction: row;
   

}


.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px ;
    text-align: center;
    align-items: center;
}


.info-box label{
    margin: 10px;
}