:root{
    --navigation-menu-font: 'Do Hyeon', sans-serif;
    
    --footer-background:#272929;
    --footer-text-color: #e9faec;
}

ul.main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end, space-between;
}

ul.main-navigation li{
    list-style:none;
    font-family: var(--navigation-menu-font);
}

/*메인화면*/

/*메인화면 - 카로우셀*/
.carousel-item img{
    width: 100%;
    height: 50vh;
}


/*footer*/
footer{
    bottom:0;
    background: var(--footer-background);
    color: var(--footer-text-color);
    text-align: center;
    height: 10vh;    
}

footer ul.company-info{
    list-style:none;
    font-size: 1.5em;
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

footer ul.company-info> li{
    padding: 12px 30px;
}



/*
미디어쿼리를 이용하여, 화면이 작아지면
- main-navigation을 없앤다.
- flex-direction: column으로 설정
*/

@media screen and (min-width: 768 px){
    

    footer ul.company-info{
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    ul.companty-info li{

    }
    

    
}


@media screen and (min-width: 1024px){
    
}