:root{
    --container-background-color: #e9faec;

    --button-background-color: #272929;
    --button-text-color: rgb(76, 227, 218);
    --button-hover-background-color:rgb(76, 227, 218);
    --button-hover-text-color:  #272929;
}

.notice-main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/*전체테이블 컨테이너박스*/
.notice_total_container{
    background: var(--container-background-color);
    padding: 20px 32px;
}

/*button_box*/
.notice_button_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
}

.notice_button_box > div{
    flex-basis: 80%;
}

.notice_button_box > button{
    flex-basis: 20%;

    background-color: var(--button-background-color);
    color:var(--button-text-color);
    border-style: none;
}

.notice_button_box > button:hover{
    background: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
}




/*page-nation*/
.notice_pagenation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
    text-align: center;
}

